/* site header */
body{
     font-family: "Roboto","Arial", sans-serif;
     font-size: 16px;
     line-height:1.5 ;
     letter-spacing: 0.5px;
}
.site-header {
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.site-header-actions{
     display: flex;
     align-items: center;
}
/* sitenav  */
.site-nav-list{
     list-style: none;
     display: flex;
}


.sitenav-link{
     color: #000000;
     font-size: 13px;
     line-height: 15px;
     font-weight: 500;
     letter-spacing: 1px;
     text-transform: uppercase;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
}

.nav-head{
     text-decoration:underline;
     height: 3px;
     color: #FF7500;
}
/* main lint  */
.main-button{
     font-size: 13px;
     line-height: 15px;
     color: #fff;
     background-color: #FF7500;
     text-decoration: none;

     border-radius: 4px;
}
/* HERO  */
.hero{
     align-items: center;
     background-color: #252420;
     color: #fff;
     display: flex;
     justify-content: space-around;
}

.hero-content{
     width: 390px;
     float: left;
     text-align:justify;
     margin: 90px;
}
.orange-line{
     width: 80px;
     height: 1px;
     background-color: #FF7500;
}

.hero-heading{
     font-size: 40px;
     line-height: 1.2;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}
.hero-image{
     width: 510px;
     height: 510px;
}

/* FEATURES  */

.features-heading{
     width: 440px;
     font-size: 72px;
     line-height: 1.2;
     letter-spacing: 0.5px;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}

.features-list{
     display: flex;
     justify-content: space-between;
     list-style: none;
     align-items: center;
}
.feature{
     width: 340px;
}

.feature-icon-wrapper{
     width: 100px;
     height: 100px;
     background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
     font-size: 24px;
     line-height: 1.2;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

/* PRMOMO */
.promo{
     display: flex;
     justify-content: space-around;
     background-color: rgba(37, 36, 32, 1);
     color: #fff;
}
.promo-content{
     width: 440px;
}
.promo-heading{
     font-size: 40px;
     font-weight: 48px;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.promo-highlight{
     color: #FF7500;
}

.promo-image{
     width: 440px;
     height: 440px;
     object-fit: cover;
}

/* SITE FOOTER */

.site-footer-top{
     display: flex;
     align-items: center;

}

.site-footer{
     background-color: #F8F8F8;
}

.site-footer-socials{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.site-footer-bottom{
     display: flex;
}

.site-footer-divider{
     height: 2px;
     background-color: #25242080;
}


.site-footer ul {
     list-style-type: none;
}
.site-footer-link-list{
     width: 224px;
     line-height: 19px;
}

.site-footer-link-list a{
     text-decoration: none;
     color: #252420;
     line-height: 19px;
}