/* site header */
body{
     font-family: "Roboto","Arial", sans-serif;
     font-size: 16px;
     line-height:1.5 ;
     letter-spacing: 0.5px;
}

*:focus{
     outline: 2px dotted #FF7500;
     outline-offset: 3px;
}
.site-header {
     padding-top: 16px;
     padding-bottom: 16px;
     border-top: 3px solid #FF7500;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logo-link{
     transition: opacity 0.4s, ease;
}
.logo-link:hover{
     opacity: 0.8;
}
.logo-link:active{
     opacity: 0.6;
}

.site-header-actions{
     display: flex;
     align-items: center;
}
/* sitenav  */
.site-nav-list{
     list-style: none;
     display: flex;
     padding: 0;
}


.sitenav-link{
     color: #000000;
     font-size: 13px;
     line-height: 15px;
     font-weight: 500;
     letter-spacing: 1px;
     text-transform: uppercase;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     transition: color 0.4s ease,
     opacity 0.4s ease;
}
.sitenav-link:hover{
     color: #FF7500;
}

.sitenav-link:active{
     opacity: 0.6;
}


/* main lint  */
.main-button{
     font-weight: bold;
     display: inline-block;
     padding: 12px 24px;
     font-size: 13px;
     line-height: 15px;
     color: #fff;
     background-color: #FF7500;
     text-decoration: none;
     border-radius: 4px;
     transition: opacity 0.4s ease;
}
.main-button:hover{
     opacity: 0.8;
}

.main-button:active{
     opacity: 0.6;
}
/* HERO  */
.hero{
     padding-top: 80px;
     padding-bottom: 80px;
     align-items: center;
     background-color: #252420;
     color: #fff;
     display: flex;
     justify-content: space-around;
}

.hero-content{
     width: 390px;
     float: left;
     text-align:justify;
     margin: 90px;
}
.orange-line{
     border: 0;
     width: 80px;
     height: 1px;
     background-color: #FF7500;
}

.hero-heading{
     font-size: 40px;
     line-height: 1.2;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}
.hero-image{
     width: 510px;
     height: 510px;
     border-radius: 8px;
}

/* FEATURES  */

.features-heading{
     width: 440px;
     font-size: 72px;
     line-height: 1.2;
     letter-spacing: 0.5px;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}
.features{
     padding-top: 210px;
     padding-bottom: 210px;
}
.features-list{
     padding: 0;
     display: flex;
     justify-content: space-between;
     list-style: none;
     align-items: center;
}
.feature{
     width: 340px;
}

.feature-icon-wrapper{
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     width: 100px;
     height: 100px;
     background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
     font-size: 24px;
     line-height: 1.2;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

/* PRMOMO */
.promo{
     border-radius: 12px;
     display: flex;
     justify-content: space-around;
     background-color: rgba(37, 36, 32, 1);
     color: #fff;
}
.promo-content{
     width: 440px;
}
.promo-heading{
     font-size: 40px;
     font-weight: 48px;
     font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.promo-highlight{
     color: #FF7500;
}

.promo-image{
     border-radius: 12px;
     width: 440px;
     height: 440px;
     object-fit: cover;
}

/* SITE FOOTER */

.site-footer-top{
     display: flex;
     align-items: center;

}

.site-footer{
     background-color: #F8F8F8;
     padding-top: 56px;
     padding-bottom: 56px;

}

.site-footer-socials{
     justify-content: space-evenly;
     padding: 0;
     display: flex;
     align-items: center;

}

.site-footer-socials a{
     color: #252420;
     padding: 0;
}
.site-footer-socials a:hover{
     color: #FF7500;
}
.site-footer-socials a:active{
     opacity: 0.6;
}
.site-footer-bottom{
     display: flex;
}

.site-footer-divider{
     border: 0;
     height: 2px;
     background-color: #25242080;
}


.site-footer ul {
     list-style-type: none;
}
.site-footer-link-list{
     width: 224px;
     line-height: 19px;
}

.site-footer-link-list a{
     text-decoration: none;
     color: #252420;
     line-height: 19px;
}

.site-footer-link-list a:hover{
     color: #FF7500;
}

.site-footer-link-list a:active{
     opacity: 0.6;
}